@model Unsplash
@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Son Eklenenler</div>
                </div>
                @foreach (var item in cache.NewContents)
                {
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img">
                                    @if(item.Media != null)
                                    {
                                        <a href="@Url.Action("Index", "Content", new { slug = item.Slug })" class="fh5co_magna py-2">
                                            <img src="@item.Media.MediaUrl" alt="@item.Media.Alt" />
                                        </a>
                                    }
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="@Url.Action("Index","Content", new { slug = item.Slug })" class="fh5co_magna py-2">
                                @item.Title
                            </a>
                            <div class="fh5co_consectetur">
                                 <a href="@Url.Action("Index","Author", new { id = item.AuthorId })" class="fh5co_magna py-2">
                                    @item.Author.Fullname <span>-</span> @item.PublishDate.ToString("dd MMMM yyyy")
                                 </a>
                            </div>
                            <div class="fh5co_consectetur">
                                @item.MetaDescription
                            </div>
                        </div>
                    </div>
                }
                
            </div>
            @await Html.PartialAsync("_SideBar")
        </div>
    </div>
</div>